html {
  font-family: "Josefin Sans", sans-serif;
}

h1,
.footer-logo {
  font-family: "Oleo Script", cursive;
}

.green {
  background-color: #d2eae8;
}

.yellow {
  background-color: #fdedcb;
}

.pink {
  background-color: #f8c5c5;
}

.white {
  background-color: #fff;
}

.green-border {
  border: 4px solid #d2eae8;
}

.yellow-border {
  border: 4px solid #fdedcb;
}

.pink-border {
  border: 4px solid #f8c5c5;
}

.limited-text {
  width: 20em;
}

.overlay {
    bottom: 0rem;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    max-width: 28em;
    padding: 0;
    height: 11em;
}

.logo,
nav a:hover,
nav a:focus {
  color: #000;
}

table {
  min-width: 50em;
}

input {
  border: 1px solid #f8c5c5;
}

hr {
  border: 1px solid #f8c5c5;
  opacity: .3;
}

fieldset {
  border: 0;
}

.radio {
  display: flex;
}

input,
select,
textarea,
input[type="radio"],
input[type="checkbox"] {
  border: 1px solid #f8c5c5;
}

.height {
  height: 10em;
}

.skip-links {
  position: absolute;
  top: -3em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a:focus {
  top: 0;
}

nav a:focus {
  outline: 3px solid #000;
}

a:focus {
  outline: 3px solid #000;
}

@media only screen and (min-width: 25em) {

  .overlay {
    height: 14em;
  }

  .space-below {
    margin-bottom: .2em;
  }

  .space-above {
    margin-top: .2em;
  }

}

@media only screen and (min-width: 38em) {

  .padleft {
    padding-left: .5rem;
  }

  .padright {
    padding-right: .5rem;
  }

  .overlay {
    height: 19.5em;
    max-width: 34em;
  }

}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

  .overlay {
    bottom: .5rem;
    left: 20rem;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    max-width: 28em;
    padding: 1em;
    height: 20em;
  }

}
